    function testVerifySolution{{ i }}()
        external
        view
    {
        CicadaVote.PublicParameters memory pp;
        pp.N = [
            {% for element in N %}
            {{ element }}{% if loop.index != 4 %},{% endif %}

            {% endfor %}
        ];
        pp.T = {{ T }};
        pp.g = [
            {% for element in g %}
            {{ element }}{% if loop.index != 4 %},{% endif %}

            {% endfor %}
        ];
        pp.h = [
            {% for element in h %}
            {{ element }}{% if loop.index != 4 %},{% endif %}

            {% endfor %}
        ];
        pp.y = [
            {% for element in y %}
            {{ element }}{% if loop.index != 4 %},{% endif %}

            {% endfor %}
        ];
        pp.yInv = [
            {% for element in yInv %}
            {{ element }}{% if loop.index != 4 %},{% endif %}

            {% endfor %}
        ];

        uint256 s = {{ s }};
        uint256[4] memory w = [
            {% for element in w %}
            {{ element }}{% if loop.index != 4 %},{% endif %}
            
            {% endfor %}
        ];

        CicadaVote.Puzzle memory Z;
        Z.u = [
            {% for element in u %}
            {{ element }}{% if loop.index != 4 %},{% endif %}

            {% endfor %}
        ];
        Z.v = [
            {% for element in v %}
            {{ element }}{% if loop.index != 4 %},{% endif %}

            {% endfor %}
        ];

        CicadaVote.ProofOfExponentiation memory PoE;
        PoE.pi = [
            {% for element in pi %}
            {{ element }}{% if loop.index != 4 %},{% endif %}
            
            {% endfor %}
        ];
        PoE.j = {{ j }};
        PoE.l = {{ l }};

        vote.verifySolutionCorrectness(pp, Z, s, w, PoE);
    }
